@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Bahij";
  src: url("/fonts/Bahij_Muna-Black.ttf");
}

@font-face {
  font-family: "JazeeraRegular";
  src: url("/fonts/Al-Jazeera-Arabic-Regular.ttf");
}

@font-face {
  font-family: "JazeeraBold";
  src: url("/fonts/Al-Jazeera-Arabic-Bold.ttf");
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/HelveticaNeue Regular/Helvetica Neue LTW0697BlkCnObl.ttf");
}


@layer utilities {
  .clip-your-needful-style {
    clip-path: polygon(calc(100% - 25vw) 0, 100% 0, 100% 100%, 0% 100%);
    /* clip-path: polygon(100% 0, 100% 100%, 0% 100%, 20% 100%, calc(100% - 23vw) 0);
     clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 6vw));
    background: blue;
    width: 50%;
    height: 50%;
     opacity: 10%; */
  }

  .header-background-image-style {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("/media/nur-pack/s1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 90%;
  }

  .molding-background-image-style {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("/media/sayaf-images/ba1.jpg");
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: 100% 90%;
  }

  .custom-corner-image-1 {
    /* add bottom border */
    padding: 0 20px 20px 0;
    background: linear-gradient(orange 0 0) 100% 100% / 60% 60% no-repeat;
    /* cut top corner */
  }
  .full-page-bg-style {
    background: url(/images/Page.Laptop1.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .qr-page-bg-style {
    background: url(/images/qr-background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .bg-gradient-heading {
    border-top: 3px solid rgba(228, 208, 120, 1);
    border-bottom: 3px solid rgba(228, 208, 120, 1);
    background: rgb(228, 208, 120);
    background: linear-gradient(
      90deg,
      rgba(228, 208, 120, 1) 0%,
      rgba(205, 140, 45, 1) 16.6%,
      rgba(228, 208, 120, 1) 33.3%,
      rgba(205, 140, 45, 1) 50%,
      rgba(228, 208, 120, 1) 66.6%,
      rgba(205, 140, 45, 1) 83.3%,
      rgba(228, 208, 120, 1) 100%
    );
  }
  .qr-bg-gradient-heading {
    border-top: 2px solid rgba(228, 208, 120, 1);
    border-bottom: 2px solid rgba(228, 208, 120, 1);
    background: rgb(218, 145, 40);
    background: linear-gradient(
      90deg,
      rgba(218, 145, 40, 1) 0%,
      rgba(228, 208, 120, 1) 16.66%,
      rgba(218, 145, 40, 1) 33.33%,
      rgba(228, 208, 120, 1) 50%,
      rgba(218, 145, 40, 1) 66.66%,
      rgba(228, 208, 120, 1) 83.33%,
      rgba(218, 145, 40, 1) 100%
    );
  }
  .saparate-line-gradient-heading {
    background: rgb(228, 208, 120);
    background: linear-gradient(90deg, rgba(205, 140, 45, 1) 0%, rgba(228, 208, 120, 1) 100%);
  }
}

html,
body {
  scroll-behavior: smooth !important;
  /* font-family: var(--font-base) !important; */
  overflow-x: hidden !important;
}

body {
  color: #111;
  background-size: cover;
  /* background-color: #fefce8; */
  font-family: Bahij, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

a {
  transition: color 0.4s ease;
}

a:hover {
  color: #c99d23;
}

input:focus,
textarea:focus {
  outline: none;
}
